.url {
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  background-color: #FFF;
  /* width: 50%;
  height: 100%;
  color: black; */
}


/*
npm install --save -dev @testing-library/react
npm install --save -dev @testing-library/jest-dom
npm install --save -dev @testing-library/user-event
npm install --save -dev @testing-library/react-history
npm install --save prop-types
npm install --save react-player
npm install  --save react-router-dom
*/